body {
    background-color: #F3EBF6;
    font-family: 'Ubuntu', sans-serif;
   	color: #8C55AA;
}

.row a{
	text-decoration: none;
	color: #8C55AA;
}
.clearfixs button{
	color: #8C55AA;
	font-size: 24px;
	font-family: 'Ubuntu';
	text-decoration: none;
}

.card{
	height: 150px;
	border-radius: 10px;
}

#title{
	font-size: 44px;
	font-weight: 400;
}

#sub-title{
	font-size: 22px;
}